<p style="color: green"><%= notice %></p>

<%= render @post %>

<p>
  <strong><%= @post.comments.count %></strong> Comentarios
</p>

<%= render @post.comments %>
<h3>leave a reply</h3>
<%= render partial: "comments/form", locals: { comment: @post.comments.build } %>


<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
